NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_API_BASE_URL=https://app-ansiedad-flame.vercel.app
NEXT_PUBLIC_REVENUECAT_IOS_API_KEY=
NEXT_PUBLIC_REVENUECAT_ANDROID_API_KEY=
GEMINI_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=
